.features {
  display: flex;
flex-direction: row;
  align-items: right;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.row {
width:100%;
min-height:900px;
}

.row:after {
clear: both;
content: "";
display: table;
}

.VideoContainer {
height: 100%;
overflow: hidden;
padding-top: 56.25%; /* 16:9 Aspect Ratio */
position: relative;
width: 100%;
}

.VideoContainer-iframe {
border: none;
bottom: 0;
height: 100%;
left: 5%;
position: absolute;
right: 0;
top: 0;
width: 100%;
z-index: 5;
}

.column-66 {
float: left;
padding: 10px 10px 10px 10px;
width: 70%;
}

.column-33 {
float: left;
padding: 10px 10px 10px 10px;
width: 100%;
}

.column-33 img {
	float: left;
	padding: 40%;
	width: 100%;
	vertical-align: bottom;
}


.large-font {
color: #403b31;
color: #403b31;
font-size: 1.5vw;
}

.xlarge-font {
color: #403b31;
font-size: 2vw;
padding: 200px;
}

.textbody {
font-size: 3vw;
}

.textbodyParagraph {
font-size: 3vw;
}

.ContentBody {
height: 30%;
padding: 64px;
background: none repeat scroll 0 0 #2581e8;
position: relative;
z-index: 2;
}

.SemiLightContent {
background-color: #f1f1f1;
}

.BodyContainer {
margin: 0;
width: 100%;
z-index: 2;
}